<h1>Mis Favoritos</h1>
<div class="card mb-3">
  <img src="../../../../../assets/img/algaire.png" class="card-img-top" alt="algaire">
  <div class="card-body">
<h5 class="card-title">Algaire</h5>
    <p class="card-text" routerLink="playlist">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a... </p><br>
    <a href="playlist">Más</a>
 <div id="redes">
    <span class="iconify" data-icon="logos:facebook"></span>
    <span class="iconify" data-icon="skill-icons:instagram"></span>
    <span class="iconify" data-icon="logos:youtube-icon"></span>
    <span class="iconify" data-icon="skill-icons:twitter"></span>
    <button type="submit" class="profail" routerLink="/playlist">Ver Perfil</button>
  </div>
  </div>
</div> <br>
<div class="card">
  <img src="../../../../../assets/img/Pandes Angúañu.png" class="card-img-bottom" alt="pandes">
  <div class="card-body">
    <h5 class="card-title">Pandereteros d´Angüañu</h5>

    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a <br>
      <a href="../playlist-group/">Mas...</a>.</p>
    <div id="redes">
    <span class="iconify" data-icon="logos:facebook"></span>
    <span class="iconify" data-icon="skill-icons:instagram"></span>
    <span class="iconify" data-icon="logos:youtube-icon"></span>
    <span class="iconify" data-icon="skill-icons:twitter"></span>
    <button type="submit" class="profail" a href="algaire" routerLink="/playlist-group">Ver Perfil</button>
  </div>
</div>
</div> <br>

<div class="card">
  <img src="../../../../../assets/img/L-R.png" class="card-img-bottom" alt="L-R">
  <div class="card-body">
    <h5 class="card-title">L-R</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a <br>
      <a routerLink="/playlist">Mas...</a>.</p>
    <div id="redes">
    <span class="iconify" data-icon="logos:facebook"></span>
    <span class="iconify" data-icon="skill-icons:instagram"></span>
    <span class="iconify" data-icon="logos:youtube-icon"></span>
    <span class="iconify" data-icon="skill-icons:twitter"></span>
    <button type="submit" class="profail" a href="algaire" routerLink="/playlist-group">Ver Perfil</button>
  </div>
</div>
</div> <br>

<div class="card">
  <img src="../../../../../assets/img/Indianos.png" class="card-img-bottom" alt="Indianos">
  <div class="card-body">
    <h5 class="card-title">Indianos</h5>
   <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a <br>
      <a href="../playlist-group/">Mas...</a>.</p>
    <div id="redes">
    <span class="iconify" data-icon="logos:facebook"></span>
    <span class="iconify" data-icon="skill-icons:instagram"></span>
    <span class="iconify" data-icon="logos:youtube-icon"></span>
    <span class="iconify" data-icon="skill-icons:twitter"></span>
    <button type="submit" class="profail" a href="algaire" routerLink="/playlist-group">Ver Perfil</button>
  </div>
</div>
</div> <br>
<div class="card">
  <img src="../../../../../assets/img/Leilia.png" class="card-img-bottom" alt="Leilia">
  <div class="card-body">
    <h5 class="card-title">Leilia</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a <br>
      <a href="../playlist-group/">Mas...</a>.</p>
    <div id="redes">
    <span class="iconify" data-icon="logos:facebook"></span>
    <span class="iconify" data-icon="skill-icons:instagram"></span>
    <span class="iconify" data-icon="logos:youtube-icon"></span>
    <span class="iconify" data-icon="skill-icons:twitter"></span>
    <button type="submit" class="profail" a href="algaire" routerLink="/playlist-group">Ver Perfil</button>
  </div>
</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<nav class="navbar navbar-dark bg-dark">
    <p>© 2020 Copyright: Raices FestConect</p>
    <p>Por:  María Fernández Santos</p>
</nav>

