body {
  background: rgb(1, 0, 12);
  background-image: linear-gradient(180deg, #000000 78%, #fbfd928f 95%, #daff48d7 110%);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
