<h2>Festivales Destacados</h2>
<div class="card-festivals">
  <div class="card">
    <img
      src="../../../../../assets/img/ochobre.jpeg"
      class="card-img-top"
      alt="Ochobrefolk"
      width="40px"
    />
    <div class="card-body">
      <h5 class="card-title">Ochobre Folk (Asturias)</h5>
          <a href="https://www.youtube.com/watch?v=ojnBOENqix8" target="_blank">
  <span class="iconify" data-icon="logos:youtube-icon"></span>
</a>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      <a class="formlogin" class="btn" routerLink="/login"> Ver Perfil</a>
    </div>
  </div>
  <div class="card">
    <img
      src="../../../../../assets/img/ortigueira.jpg"
      class="card-img-top"
      alt="Ortigueira"
      height="73%"
    />
    <div class="card-body">
      <h5 class="card-title">Ortigueira (Galicia)</h5>
            <a href="https://www.youtube.com/@festivaldeortigueira" target="_blank">
  <span class="iconify" data-icon="logos:youtube-icon"></span>
</a>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      <a class="formlogin" class="btn" routerLink="/login"> Ver Perfil</a>
    </div>
  </div>
  <div class="card">
    <div class="card">
      <img
        src="../../../../../assets/img/lorient.jpg"
        class="card-img-top"
        alt="Lorient"
        height="73%"
      />
      <div class="card-body">
        <h5 class="card-title">Lorient (Bretaña Francesa)</h5>
        <a href="https://www.youtube.com/@interceltiquelorient" target="_blank">
  <span class="iconify" data-icon="logos:youtube-icon"></span>
</a>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <a class="formlogin" class="btn" routerLink="/login"> Ver Perfil</a>
      </div>
    </div>
  </div>
</div>
