.container-fluid{
  background-color: black;
}

button{
  background-color: #DAFF48;
  border: 1px solid #f7faef;
  border-radius: 0.25rem;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #0c0c0c;
}


.logo{
 img{
    width:100px;
    height:84px;
 }
}

h1{
  text-align: center;
  color: #DAFF48;
  margin-bottom: 3%;
}


iframe {
  display: block;
  margin: 0 auto;
  border: 1px solid #DAFF48;

}

#redes {
  display: block;
  margin-top: 0.5rem;

.profail{
  background-color: #DAFF48;
  border: 1px solid #f7faef;
  border-radius: 0.25rem;
  height: 1.5rem;
  width: 7rem;
  color: #0c0c0c;
  margin-left: 59%;
}}


.iconify {
  font-size: 1.5rem;
  margin: 10px;

  }


.bt {
  display: flex;
  background-color: #DAFF48;
  border: 1px solid #f7faef;

}

.page-link{
  display: flex;
  background-color: #0c0c0c;

}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}


a{
  color: #DAFF48;
}
.card{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: #0c0c0c;
  margin: auto ;
  border: 1px solid chartreuse
}

h5{
  color: #DAFF48;
}
  svg{
  width: 25px;
  height: 25px;
  color:#DAFF48;
  margin: -100px;
  }

  p{
  color: #DAFF48;
  text-align: center;
  margin: 10px;
}
