<a class="viewhome" href="/home">
<img src="../../../assets/img/logo.png" alt="logo"></a>

<form>
    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control" />
      <label class="form-label" for="form6Example3"
        >Nombre de Grupo/Festival/Organización</label
      >
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example4" class="form-control" />
      <label class="form-label" for="form6Example4">Cif</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form6Example5" class="form-control" />
      <label class="form-label" for="form6Example5">Email</label>
    </div>

    <!-- Number input -->
    <div class="form-outline mb-4">
      <input type="number" id="form6Example6" class="form-control" />
      <label class="form-label" for="form6Example6">Teléfono</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
      <textarea class="form-control" id="form6Example7" rows="1"></textarea>
      <label class="form-label" for="form6Example7">Dirección</label>
    </div>
</form>
    <!-- Submit button -->
    <button class="regisbtn" type="submit" class="btn mb-4">
      Registrarme
    </button>


