<div class="hit-the-floor">
  <h1>Destacados</h1>
</div>
<div class="banner">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets//img/algaire.png"
          class="d-flex w-100"
          alt="algaire"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/Pandes Angúañu.png"
          class="d-flex w-100"
          alt="angüañu"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/Indianos.png"
          class="d-flex w-100"
          alt="indianos"
        />
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/L-R.png" class="d-flex w-100" alt="LR" />
      </div>
    </div>
  </div>
</div>
