<h2>Artistas Destacados</h2>
<div class="container home">
  <div class="card-group">
    <div class="card">
      <img
        src="../../../assets/img/rodri.jpeg"
        class="card-img-top"
        alt="Rodrigo Cuevas"
      />
      <div class="card-body">
        <h5 class="card-title">Rodrigo Cuevas</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../assets/img/taxu.jpg"
        class="card-img-top"
        alt="tanxu"
      />
      <div class="card-body">
        <h5 class="card-title">Tanxugueiras</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="card">
        <img
          src="../../../assets/img/neomak2.jpg"
          class="card-img-top"
          alt="Neomak"
        />
        <div class="card-body">
          <h5 class="card-title">Neomak</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <a href="#" class="btn">Ver Perfil</a>
        </div>
      </div>
    </div>
  </div>
 


