.viewhome {
  display: flex;
  margin-left: 35%;
  width: 10%;
  img{
    width: 250%;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.form-outline {
  margin-bottom: 1rem;
  margin-left: 30%;

}

.form-control {
  background-color: #fff;
  border: 2px solid #DAFF48;
  border-radius: 0.25rem;
  height: 2.5rem;
  width: 50%;
  font-size: 1rem;
  color: #0c0c0b;
}

.form-label {
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #DAFF48;
}

.form-check {
  display: flex;
  margin-left: 22%;

}

.form-check-input {
  margin-right: 0.5rem;
}

.form-check-label {
  font-size: 1rem;
  line-height: 1.5;
  color: #DAFF48;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #782db6;
  text-align: center;

}

button{
  display: flex;
  background-color: #DAFF48;
  border: 1px solid #f7faef;
  border-radius: 0.25rem;
  height: 2.5rem;
  width: 7rem;
  font-size: 1rem;
  text-align: center;
  color: #0c0c0c;
  margin-left: -32%;
}

p {
  color:#DAFF48;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}


.icons {
  display: flex;
  justify-content:center;
  margin: 10px;


.iconify {
  font-size: 1.5rem;
  margin: 15px;
  }
}
