<a class="viewhome" href="/home">
<img src="../../../assets/img/logo.png" alt="logo"></a>

<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <span class="iconify" data-icon="clarity:user-solid" style="color: #daff48;"></span>
    <label class="form-label" for="form2Example1">Usuario</label>

  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <span class="iconify" data-icon="teenyicons:password-solid" style="color: #daff48;"></span>
    <label class="form-label" for="form2Example2">Contraseña</label>
  </div>
</form>


  <div class="row mb-4">
    <div class="col d-flex">

          <button class="regisbtn" type="submit" class="btn mb-4">
        <a class="login" routerLink="/profail">Entrar</a>
    </button>

      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
        <label class="form-check-label" for="form2Example34"> Recuerdame </label>
      </div>
    </div>
 </div>
    <div class="col">
      <!-- Simple link -->
      <a href="#!">Olvidé mi Contraseña</a>
      <a href="register">Registrarme</a>
    </div>

    <p>Visitanos en:</p>

   <div class="icons">
      <span class="iconify" data-icon="logos:facebook"></span>
      <span class="iconify" data-icon="skill-icons:instagram"></span>
      <span class="iconify" data-icon="skill-icons:twitter"></span>
    </div>


